body {
	background: #272b33;
	color: white;
	padding: 30px;
}
img {
	border-radius: 10px;
}

.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	justify-content: center;
	align-items: start;
	.card {
		display: flex;
		background: #3c3e44;
		border-radius: 10px;
		gap: 20px;
		.row {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
		.card-text {
			display: flex;
			gap: 10px;
			align-items: center;
			// justify-content: center;
		}
		.circle {
			width: 10px;
			height: 10px;
			border-radius: 50%;

			display: block;
		}
		.dead {
			background: rgb(187, 22, 22);
		}
		.alive {
			background: rgb(41, 187, 22);
		}
		.unknown {
			background: rgb(69, 69, 69);
		}
	}
}
